
#wrapper {
	border:0; 
	background-color: #EEEEEE;    	/*lt grey*/
	opacity: 0.85;
	padding:15px;
	border-spacing: 15px;
	width:95%;
	height:95%;
	align: center;
}

#container {
	border:0; 
	background-color: #002147;		/*oxford blue*/
	opacity: 0.85;
	padding:15px;
	border-spacing: 5px;
	width:99%;
	height:99%;
	align: center;
}
#container_lt {
	border:0; 
	background-color: #C90016;
	background-color: #0047AB;  
	background-color: #003366;
	background-color: #002147; 		/*oxford blue*/
	background-color: #EEEEEE;    	/*lt grey*/
	opacity: 0.85;
	color: black;
	padding:15px;
	margin 25px;
	border-spacing: 5px;
	width:99%;
	height:99%;
	align: center;
}
/*
* {
	font-family: "Arial Black", Sans-Serif;
	font-family: "Arial", Sans-Serif;
	font-family: "Impact", Sans-Serif;
}
*/
h2 {
	text-align: center;
	padding:10px;
}
h3 {
	text-align: center;
	padding:5px;
	background-color:#EEEEEE; 
}
#tagline {
	 padding: 20px;
	 text-align: center;
	 align: "center";
	 font-size: 90%;
	 margin: 20px; 
}
table {
	border:0; 
	background-color:#EEEEEE; 
	/*background-color:white;*/
	align: "center";
	padding:5px;
	border-spacing: 5px;
	width:70%; 
	margin-left:15%; 
	margin-right:15%;
}
table#contact_table {
	border:0; 
	background-color:#EEEEEE; 
	padding:20px;
	border-spacing: 5px;
	}
td#rt_field{
	    text-align:right;
	}
td#cntr{
	    text-align:center;
	}
td#lt_field{
	    text-align:left;
	}
td#loc_meet{
	    text-align:left;
	}
#find,#located {
	color: black;
	text-align: center;
	padding:5px;
}
#buy-sell {
	text-align: center;
	padding:10px;
}
#button {
	radius: 5px;
	text-align:center;
	background-color: #848482; 
}

#browse-button {
	radius: 5px;
	text-align:center;
	align: center;
	padding: 15px 25px;
	margin: 20px; 
	width:30%; 
	margin-left:35%; 
	margin-right:35%;
	background-color: #848482; 
}
#cntr-button {
	radius: 5px;
	text-align:center;
	align: center;
	padding: 15px 25px;
	margin: 20px; 
	width:30%; 
	margin-left:35%; 
	margin-right:35%;
	background-color: #848482; 
}
#left-button {
	radius: 5px;
	text-align:center;
	align: left;
	padding: 15px 25px;
	margin: 20px; 
	width:30%; 
	margin-left:15%; 
	margin-right:55%;
	background-color: #848482; 
}
.center_button {
	radius: 5px;
	text-align:center;
	padding: 15px;
	margin: 20px; 
}
#lt_button {
	radius: 5px;
	float:left;
	padding: 5px 15px;
	margin: 25px;
}
#rt_button {
	radius: 5px;
	float:right;
	padding: 5px 15px;
	margin: 25px;
}
#contact-button {
	radius: 5px;
	float:right;
	text-align:center;
	padding: 25px;
}
#warning {
	color: red;
	padding: 2px;
	background-color: #EEEEEE; 
	font-size: 24px;
}

#copyright {
	 position: absolute; 
	 bottom: 3px; 
	 left: 25px;
	 padding: 2px;
	 background-color: #EEEEEE; 
	 font-size: 60%;
}
.copyright {
	 position: absolute; 
	 bottom: 0px; 
	 left: 25px;
	 padding: 2px;
	 background-color: #EEEEEE; 
	 font-size: 60%;
}