<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


  <display-name>ReText Book Buy/Sell</display-name>
  

  <servlet>
  	<servlet-name>RetextManagerServlet</servlet-name>
  	<servlet-class>servlets.RetextManagerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetextTitleLocatedServlet</servlet-name>
  	<servlet-class>servlets.RetextTitleLocatedServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetextLoginServlet</servlet-name>
  	<servlet-class>servlets.RetextLoginOutServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>RetextCreateUserServlet</servlet-name>
  	<servlet-class>servlets.RetextCreateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetextMessagesServlet</servlet-name>
  	<servlet-class>servlets.RetextMessagesServlet</servlet-class>
  </servlet>
  <servlet>  
  	<servlet-name>RetextManageUserInfoServlet</servlet-name>
  	<servlet-class>servlets.RetextManageUserInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RetextManagerServlet</servlet-name>
  	<url-pattern>/manage/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetextTitleLocatedServlet</servlet-name>
  	<url-pattern>/located/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetextLoginServlet</servlet-name>
  	<url-pattern>/loginOut/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetextCreateUserServlet</servlet-name>
  	<url-pattern>/newUser/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetextMessagesServlet</servlet-name>
  	<url-pattern>/messages/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetextManageUserInfoServlet</servlet-name>
  	<url-pattern>/manageUsers/*</url-pattern>
  </servlet-mapping>


</web-app>
